<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body id='xbody'>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 id='title1'>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click Here to Explore</a></p>
    </div>
    <!-- render database info -->
    <h2 id='title2'>Latest Mars News</h2>

    <h3 id='title3'>{{ mars_info.news_title }}</h3>

    <h4 id='title4'> {{ mars_info.news_p }}</h4>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h2 id='title2'>Featured Mars Image</h2>
          <img id='main_image' id='title4' src="{{ mars_info.featured_image_url }}" alt="Mars" width=500px>
        </div>
        <div class="col-md-6">
          <h2 id='title2'>Mars Facts</h2>
          <h4 id='title4'>{{mars_info.facts_data|safe}}</h4>
        </div>


      </div>
    </div>
    <br>
    <h2 id='title2'>Current Weather on Mars</h2>
    <h4 id='title4'>{{mars_info.weather_data}}</h4>
    <br>

          <h2 id='title2x'>Mars Hemispheres</h2>
      
        <!-- loop through the list of dictionaries -->
        {% for onemars in mars_info.hemisphere_image_urls %}


            <h3 id='title3x'>{{onemars.title}}</h3>
       
            <img id='sub_image' src="{{onemars.img_url}}" alt="hemispheres" width=500px>


            {% endfor %}

    </div>


  </div>
  </div>
</body>

</html>